/* for Dark Mode */
body {
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.Login-app-container {
  display: flex;
  height: 200vh;
  /* background: rgba(0, 0, 0, 0.5);
   */
  background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(10, 10, 10 , 0.95));

  color: #cecac3;
}

.Login-mid-container {
  /* flex: 3 1; */
  display: flex;
  height: 400px;
  width: 800px;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  flex-direction: row;
  padding: 20px;
  padding-top: 20px;
  margin: 100px auto;
  background-color: rgb(29, 32, 33);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  align-content: space-around;
  flex-wrap: nowrap;
}
.left-form-container {
  /* flex: 3 1; */
  display: flex;
  height: 350px;
  width: 250px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  margin-left: 200px;
  margin-right: 20px;
  margin-top: 100px;
  margin-right: -300px;
  background-color: rgba(0, 0, 0, 0.1)f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 20px 20px 0;
}


.Login {
  text-align: center;
  
  /* height: 200px;
  width: 200px; */
  padding-top: 20;
}
.Login h1 {
  transition: transform 0.4s ease-in-out;
  font-size: 24px;
  color: #eee;}
.Login h1:hover{
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}

.Login h3 {
  font-size: 20px;
  margin-bottom: 80px;
  color: #eee;
  transform: translate(10px, 30px);


}
.Login p {
  font-size: 16px;
  /* color: #ccc; */
  transform: translate(10px, -10px);

  
}
i{
  color: #4e4d4d;
}
.Login input {
  padding: 10px;
  font-size: 14px;
  border-color: rgb(118, 110, 97);
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300;
  transform: translate(10px, -40px);
  color: #ddd;
  background-color: #222;
  
}

.Login button {
  background-color: #16a085;
  transition: transform 0.3s ease;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transform: translate(10px, -30px);
}

.Login button:hover {
  background-color: #1abc9c;
  /* transition: background-color 0.3s; */
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: #eb4e4e;
  transform: translate(10px, -35px);


}


.right-container.opened {
  transform: translateX(-300px); 
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); 
}

@media screen and (max-width: 1280px) {
  .Login-app-container {
    flex-direction: column; /* Adjust for smaller screens */
  }

  .Login-mid-container{

    margin-left: 65px;
  }
  .Login {
    height: auto;
    margin-left: -50px;

  }
  
  

  .right-container {
    display: none; 
    /* Hide the chatbot on smaller screens or use a different layout for mobile devices */
  }
}