.navbar {
  color: #cecac3;
  margin: 0;
  padding: 10px;
  background-color: #333 ;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin: 0 10px;
}

.navbar-link {
  text-decoration: none;
  color: #cecac3;
  transition: color 0.3s;
  
}

.navbar-link:hover {
  color: #cecece;
}


